<h2 id="-"><strong>中国“互联网+”大学生创新创业大赛</strong></h2>
<blockquote>
<p>由教育部与政府、各高校共同主办。大赛旨在深化高等教育综合改革，激发大学生的创造力，培养造就“大众创业、万众创新”的主力军；推动赛事成果转化，促进“互联网+”新业态形成，服务经济提质增效升级；以创新引领创业、创业带动就业，推动高校毕业生更高质量创业就业。</p>
</blockquote>
<h3 id="-"><strong>大赛简介</strong></h3>
<p>中文名：中国“互联网+”大学生创新创业大赛</p>
<p>外文名：China College Students&#39; &#39;Internet+&#39;Innovation and Entrepreneurship Competition</p>
<p>简 称：“互联网+”大赛</p>
<h3 id="-"><strong>参赛组别</strong></h3>
<p>高教主赛道：本科生创意组、研究生创意组、初创组、成长组、师生共创组</p>
<p>青年红色筑梦之旅赛道：公益组、创意组、创业组</p>
<p>职教赛道：创意组、创业组</p>
<h3 id="-"><strong>大赛目的</strong></h3>
<ul>
<li>以赛促学，培养创新创业生力军。大赛旨在激发学生的创造力，激励广大青年扎根中国大地了解国情民情，锤炼意志品质，开拓国际视野，在创新创业中增长智慧才干，把激昂的青春梦融入伟大的中国梦，努力成长为德才兼备的有为人才。</li>
<li>以赛促教，探索素质教育新途径。把大赛作为深化创新创业教育改革的重要抓手，引导各类学校主动服务国家战略和区域发展，深化人才培养综合改革，全面推进素质教育，切实提高学生的创新精神、创业意识和创新创业能力。推动人才培养范式深刻变革，形成新的人才质量观、教学质量观、质量文化观。</li>
<li>以赛促创，搭建成果转化新平台。推动赛事成果转化和产学研用紧密结合，促进“互联网+”新业态形成，服务经济高质量发展，努力形成高校毕业生更高质量创业就业的新局面。</li>
</ul>
<h3 id="-"><strong>奖项设置</strong></h3>
<p><strong>高教主赛道：</strong>中国大陆参赛项目设金奖50个、银奖100个、铜奖450个，中国港澳台地区参赛项目设金奖5个、银奖15个、铜奖另定，国际参赛项目设金奖40个，银奖60个，铜奖300个。另设最佳带动就业奖、最佳创意奖、最具商业价值奖、最具人气奖各1个；设高校集体奖20个、省市优秀组织奖10个（与职教赛道合并计算）和优秀创新创业导师若干名。</p>
<p><strong>青年红色筑梦之旅赛道：</strong>设金奖15个、银奖45个、铜奖140个。设“乡村振兴奖”“社区治理奖”“逐梦小康奖”等单项奖若干。设“青年红色筑梦之旅”高校集体奖20个、省市优秀组织奖8个和优秀创新创业导师若干名。</p>
<p><strong>职教赛道：</strong>设金奖15个、银奖45个、铜奖140个。设院校集体奖20个、省市优秀组织奖10个（与高教主赛道合并计算），优秀创新创业导师若干名。</p>
<p><strong>萌芽赛道：</strong>设创新潜力奖20 个和单项奖若干个。</p>
